# python
## build
**/build
**/dist
**/*.egg-info
*.egg
eggs
.eggs
*.so
*.py[cod]
**/__pycache__
*~

# virtual environment
**.venv

# tox
.tox

# coverage report
.coverage*
coverage.xml
**/htmlcov

# docs
docs/_build
docs/_generated

# editor
## emacs
**/.~

## vscode
**/.vscode

## intellij
**/.idea

# os
## mac
**/.DS_Store
