# python
**/build
**/dist
**/*.egg-info
*.egg
eggs
.eggs
.tox
*.py[cod]
**/__pycache__
*.so
*~
**.venv
docs/_build
.coverage
**/htmlcov

# editor
## emacs
**/.~
## vscode
**/.vscode
## intellij
**/.idea
