# include pyproject
include pyproject.toml

# include VERSION file
include VERSION

# include the README
include *.md

# include the license file
include LICENSE.txt

# include coverage config
include .coveragerc

# include tox config
include tox.ini

# include Trave CI config
include .travis.yml
