# include pyproject
include pyproject.toml

# include the README and CHANGELOG
include *.md

# include the license file
include LICENSE.txt

# include requirements file
include requirements.txt
include dev-requirements.txt

# include docs
include docs/*

# include coverage config
include .coveragerc

# include tox config
include tox.ini
