[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
setuptools = "*"
build = "*"
tox = "*"
tox-gh-actions = "*"  # ci/cd
autopep8 = "*"
flake8 = "*"
parameterized = "*"
pytest = "*"
pytest-cov = "*"
coverage = "*"
sphinx = "*"
sphinx-click = "*"
pillow = "*"
tomli = "*"
twine = "*"

[packages]
loguru = "*"
dacite = "*"
yamale = "*"
click = "*"
asciimatics = "*"
urwid = "*"
first = "*"
overrides = "*"
antlr4-python3-runtime = "*"
jsonpath-ng = "*"
pyperclip = "*"

[scripts]
# this is a workaround for autopep8 does not get softlink correctly when install
autopep8 = "python -m autopep8"
