[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
# build and release
setuptools = "*"
build = "*"
twine = "*"
# virtual env management
tox = "*"
tox-gh-actions = "*"  # ci/cd
# lint
autopep8 = "*"
flake8 = "*"
# unit tests
parameterized = "*"
pytest = "*"
pytest-cov = "*"
coverage = "*"
# docs related
sphinx = "*"
sphinx-click = "*"
# others
pillow = "*"
tomli = "*"

[packages]
# logging
loguru = "*"
# configuration
dacite = "*"
yamale = "*"
# CLI
click = "*"
# TUI
asciimatics = "*"
urwid = "*"
# Utility
first = "*"
overrides = "*"
# JSONPath
antlr4-python3-runtime = "*"
jsonpath-ng = "*"
# others
pyperclip = "*"

[scripts]
# this is a workaround for autopep8 does not get softlink correctly when install
autopep8 = "python -m autopep8"
