antlr4-python3-runtime==4.13.2
asciimatics==1.15.0; python_version >= '3.8'
click==8.1.7; python_version >= '3.7'
dacite==1.8.1; python_version >= '3.6'
first==2.0.2
jsonpath-ng==1.6.1
loguru==0.7.2; python_version >= '3.5'
overrides==7.7.0; python_version >= '3.6'
pillow==10.4.0; python_version >= '3.8'
ply==3.11
pyfiglet==1.0.2; python_version >= '3.9'
pyperclip==1.9.0
pyyaml==6.0.2; python_version >= '3.8'
typing-extensions==4.12.2; python_version >= '3.8'
urwid==2.6.15; python_version >= '3.8'
wcwidth==0.2.13
yamale==5.2.1; python_version >= '3.8'
