click==7.1.2
jsonpath-ng==1.5.2
overrides==3.1.0
Sphinx==3.2.1
sphinx-click==2.5.0
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
urwid==2.1.2
loguru==0.5.3
yamale==3.0.4
dataclasses==0.6
dacite==1.5.1
first==2.0.2
pyperclip==1.8.1
antlr4-python3-runtime==4.8
